<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobFind</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script defer src="../static/js/auth.js"></script>
</head>
<body>

    <header class="header">
        <div class="logo">
            <h1>JobFind</h1>
        </div>
        <nav class="navigation">
            <ul id="nav-links">
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <section class="welcome-section">
            <h2>Найдите работу своей мечты!</h2>
            <p>JobFind поможет вам найти работу или сотрудников легко и быстро.</p>
            <div class="cta-buttons">
                <a href="jobs.html" class="button">Поиск вакансий</a>
                <a href="employers.html" class="button">Поиск сотрудников</a>
            </div>
        </section>
    </main>

</body>
</html>
