<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вакансии - JobFind</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/auth.js" defer></script>
    <script src="../static/js/loadVac.js" defer></script>
</head>
<body>

    <header class="header">
        <div class="logo">
            <h1>JobFind</h1>
        </div>
        <nav class="navigation">
            <ul id="nav-links">
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <div class="job-list">
            <div id="loading" class="loading">
                <p>Загрузка вакансий...</p>
            </div>
        </div>
    </main>  
</body>
</html>
