<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали вакансии - JobFind</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/auth.js" defer></script>
    <script src="../static/js/loadResID.js"></script> 
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1>JobFind</h1>
        </div>
        <nav class="navigation">
            <ul id="nav-links">
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <section class="job-details-section">
            <button onclick="window.history.back()" class="button-back">Назад</button>
            <div id="resume-details">
                <p>Загрузка данных...</p>
            </div>
        </section>
    </main>

</body>
</html>
